@import "tailwindcss";

:root {
  --border-color: #949494;
  --page-bg: #E2E2E2;
  --elements-bg: #FFFFFF;
  --text-color: #000000;
  --contrast-color: #124E72;
  --icons-color: #585858;
  --site-color: #FF5A00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #FFD700;
    --page-bg: #000000;
    --elements-bg: #222222;
    --text-color: #FFFFFF;
    --contrast-color: #45E87E;
    --icons-color: #FFFFFF;
  }
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
}

.product-card {
  border-color: var(--border-color);
  background-color: var(--elements-bg);
}

.product-text {
  color: var(--text-color);
}

.contrast-text {
  color: var(--contrast-color);
}